/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* 
   FONT NAMES:
   font-family: 'Oswald', sans-serif; weight/styles: 300, 400
   font-family: 'Libre Baskerville', serif; weights/styles: 400/regular,400i/italic,700/bold

   COLORS:
   turquoise light/main: #51F5C6
   turquoise dark: #00A974
   button text: white
   box shadows: gray
   shade of black: #292C31
*/
@font-face {
    font-family: 'Snell';
    src: url("snellroundhand-boldscript.otf");
}
/* BASE STYLES */
body {
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    font-size: 16px;
    color: #292C31;
    margin: auto;
    width: 100%;
    min-width: 320px;
    max-width: 2000px;
    line-height: 1.5;
}

main {
    padding-top: 70px;
}

h1, 
h2, 
h3, 
h4, 
h5,
h6 {
    font-family:'Oswald', sans-serif;
    font-weight: bold;
}

.important-text {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
    margin: 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

a {
    color: #00A974;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-icon {
    color: #292C31;
}

.social-icon:hover {
    color: #00A974;
    text-decoration: none;
}

/* LAYOUT (ALIGN) */
.center {
    text-align: center;
}

.right {
    text-align: end;
}

.left {
    text-align: start;
}

/* RESPONSIVE IMAGES */
img {
    width: 100%;
    height: auto;
}

/* NAVIGATION */
nav {
    overflow: hidden;
}

nav li {
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

nav a:hover {
    color: #00A974;
    text-decoration: none;
}

nav a.active {
    text-decoration: line-through;
}

.top-nav a.active {
    color: #51F5C6;
}

.footer-nav a.active {
    color: #00A974;
}

#logo {
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    color:white;
    font-size: .85rem;
    padding: 0;
}

#logo span {
    font-family: 'Snell', 'Libre Baskerville', serif;
    font-size: 1.7rem;
    color: #51F5C6;
}

.logo-print {
    display: none;
}

#logo a:hover {
    color: white;
}

.top-nav {
    background-color: #292C31;
    font-family:'Oswald', sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    -moz-box-shadow:0 2px 3px gray;
    -webkit-box-shadow: 0 2px 3px gray;
    box-shadow: 0 2px 3px gray;
    color: white;
    width: 100%;
}
.nav-container {
    padding: 5px 20px;
}
.top-nav ul {
    float: right;
}

.top-nav a {
     color: white;
}

.footer-nav a {
    color: #292C31;
}

/* RESPONSIVE NAV */
.icon {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


@media screen and (max-width: 950px) {
    .top-nav ul {
        background: #292C31;
        float: right;
    }

    .top-nav li:not(:first-child){
        display: none;
    }

    .top-nav a.icon {
        display: block;
        float: right;
        clear: both;
    }
    
    .top-nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .top-nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .top-nav.responsive ul{
        float: none;
    }

    .top-nav.responsive li {
        margin-top: 10px;
        display:block;
    }
}

/* BUTTONS */
.btn {
    color: white;
    -moz-box-shadow:    2px 2px 3px gray;
    -webkit-box-shadow: 2px 2px 3px gray;
    box-shadow:         2px 2px 3px gray;
    display: inline-block;
    font-family:'Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 5px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
    width: 8em;
}

.btn:hover {
    text-decoration: none;
}

.btn-cta {
    background-size: 200% auto;
    background-color: #292C31; /* fall back style */
    background-image: linear-gradient(to bottom, #292C31 0%,  #51F5C6 60%, #292C31 100%);
    background-color: #51F5C6; 
    color: white;
}

.btn-cta:hover {
    background-position: right center; 
    background-image: linear-gradient(to bottom, #292C31 0%,  #51F5C6 1%, #292C31 100%);
}
  

.btn-regular {
    color: #00A974;
    background-color: transparent;
    border: 4px #00A974 solid;
}

.btn-regular:hover {
    -moz-box-shadow:    inset 0px 0px 3px gray;
    -webkit-box-shadow: inset 0px 0px 3px gray;
    box-shadow:         inset 0px 0px 3px gray;
}

.btn-secondary {
    background-color: #292C31;
    border: none;
    padding: 15px;
}

.btn-secondary:hover, .btn-cta:hover {
    -moz-box-shadow:    inset 0px 0px 5px black;
    -webkit-box-shadow: inset 0px 0px 5px black;
    box-shadow:         inset 0px 0px 5px black;
}

/* HOME/WORKS */
.cta {
    margin-top: 60px;
}

.publication {
    font-size: .7em;
}


/* CONTACT FORM */
.error {
    color: #00A974;
    display: block;
}

form input[type=text],
form textarea {
    border: #ccc solid .5px;
    background-color: #fafafa;
    padding: 10px;
}

form textarea,
form input[name=_subject] {
    width: 95%;
}

form input:focus,
form textarea:focus {
    outline-color: #00A974;
}

.social-media {
    padding-top: 65px;
}
.social-media ul {
    padding:0px;
    margin: 0px;
}

.social-media ul,
.social-media .social-icon {
    font-size: 1.5em;
}

.social-media .email {
    font-size: 1rem;
}

.social-media .email:hover {
    text-decoration: underline;
}

.social-media li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}

/* FOOTER NON-NAVIGATIONAL STYLES */
footer {
    font-size: .8em;
}

footer ul {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media handheld, only screen and (max-width: 767px) {
    footer .right {
        text-align: start;
    }
}

/* PRINT STYLES */
@media print {
    main {
        padding-top: 0;
    }
    .cta, 
    .btn-regular, 
    nav, 
    .stories-nav {
        display: none;
    }

    .logo-print {
        display: block;
    }

    .logo-print .title {
        font-family: 'Libre Baskerville', serif;
        font-weight: 400;
        font-size: 12pt;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }
    
    .logo-print span {
        font-family: 'Snell', 'Libre Baskerville', serif;
        font-size: 20pt;
    }
    
    .logo-print p {
        text-decoration: underline;
        font-size: 10pt;
        margin: 0;
        padding: 0;
    }

    .social-media a:after {
        display: none;
    }
    .social-media .social-icon {
        font-size: 14pt;
    }
    .social-media .email-i {
        display: none;
    }
    .social-media .email {
        font-size: 10pt;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
